@import '../../colors';

.contact-element{
  display: flex;
  align-items: center;
  background-color: $bg-secondary;
  padding: 1em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  color: $light;
  margin-bottom: 1em;

  .img-placeholder{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light;
    border-radius: 100%;
    margin-right: 1em;
  }

  .button{
    padding: 0;
    border: none;
    svg{
      width: 20px;
      height: 20px;
    }
  }

  .phone-and-name{
    flex:1;
  }
}